{% extends 'base.html' %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Grupos en matricula</h1>
                <div>
                    {% if rol == 'gestor' %}
                    <a href="{% url 'crear_grupo' %}" class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear grupo">
                        {% icon 'plus' %}
                    </a>
                    {% endif %}
                    
                </div>
            </div>

    <table id="prematriculas" class="table table-hover table-bordered align-middle">
        <thead class="table-secondary text-center">
            <tr>
                <th class="text-center">Estado</th>
                {% if rol == 'lider' %}
                <th class="text-center">Gestor</th>
                {% endif %}
                <th class="text-center">Centro</th>
                <th class="text-center">Institucion</th>
                <th class="text-center">Programa</th>
                <th class="text-center">Aprendices potenciales</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td>{{ grupo.grupo.esta }}</td>
                    {% if rol == 'lider' %}
                    <td>{{ grupo.gestor.perfil.nom }}</td>
                    {% endif %}
                    <td>{{ grupo.grupo.centro.nom }}</td>
                    <td>{{ grupo.grupo.insti.nom }}</td> <!-- Muestra el texto legible del estado -->
                    <td>{{ grupo.grupo.progra.nom }}</td> <!-- Muestra el texto legible del estado -->
                    <td>{{ grupo.grupo.num_apre_poten }}</td> <!-- Muestra el texto legible del estado -->
                    <td>
                        {% if grupo.grupo.esta == 'Pre matricula' %}
                            <a href="{% url 'asignar_aprendices' grupo.grupo.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" title="Asignar aprendices">{% icon 'asignarapre' %}</a>
                        {% elif grupo.grupo.esta == 'Validacion matriculas' %}
                            <a href="{% url 'asignar_aprendices' grupo.grupo.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" title="Asignar aprendices">{% icon 'asignarapre' %}</a>
                            <a href="{% url 'ver_docs_prematricula' grupo.grupo.id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="ver detalle">{% icon 'detalle' %}</a>
                            {% if rol == 'lider' %}
                            <a href="{% url 'confirmar_documentacion' grupo.grupo.id %}" 
                            class="btn btn-success btn-sm mt-1 confirmar-doc" 
                            data-toggle="tooltip" 
                            title="Confirmar documentación">
                            {% icon 'confirmar' %}
                            </a>
                            {% endif %}
                        {% elif grupo.grupo.esta == 'En radicacion' %}
                            <a href="{% url 'ver_docs_prematricula' grupo.grupo.id %}" class="btn btn-warning btn-sm" data-toggle="tooltip" title="ver detalle">{% icon 'detalle' %}</a>
                        {% endif %}
                            <a class="btn btn-danger btn-sm delete-btn mt-1" data-id="{{grupo.grupo.id}}" data-toggle="tooltip" title="Eliminar">{% icon 'delete' %}</a>
                    </td>
                </tr>           
            {% endfor %}
        </tbody>
    </table>
    </section>
</main>
<script>
// Evento para eliminar grupo
$(document).on('click', '.delete-btn', function () {
const id = $(this).data('id');
const row = $(this).parents('tr'); // Guardamos la fila para eliminarla después si es necesario

// Confirmación antes de eliminar
Swal.fire({
    title: '¿Estás seguro?',
    text: 'Esta acción no se puede deshacer.',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'Sí, eliminar',
    cancelButtonText: 'Cancelar'
}).then((result) => {
    if (result.isConfirmed) {
        // Si el usuario confirma, proceder con la eliminación
        fetch(`/api/grupo/eliminar/${id}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}' // CSRF Token de Django
            }
        })
        .then(response => {
            if (response.ok) {
                row.remove(); // Elimina la fila de la tabla
                Swal.fire({
                    icon: 'success',
                    title: 'Eliminado',
                    text: 'El grupo ha sido eliminado correctamente.',
                    timer: 2000,
                    showConfirmButton: false
                });
            } else {
                return response.json().then(data => {
                    throw new Error(data.error || 'Error al eliminar el registro.');
                });
            }
        })
        .catch(error => {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message
            });
        });
    }
});
});


document.addEventListener('DOMContentLoaded', function () {
        const botonesConfirmar = document.querySelectorAll('.confirmar-doc');

        botonesConfirmar.forEach(boton => {
            boton.addEventListener('click', function (e) {
                e.preventDefault(); // Prevenir la redirección inmediata
                const url = this.getAttribute('href');

                Swal.fire({
                    title: '¿Está seguro?',
                    text: "Esta acción confirmará toda la documentación del grupo y no se podran modificar los documentos ni los aprendices asociados.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#28a745',  // Verde
                    cancelButtonColor: '#d33',      // Rojo
                    confirmButtonText: 'Sí, confirmar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirigir si el usuario confirma
                        window.location.href = url;
                    }
                });
            });
        });
    });


</script>

{% endblock %}