{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section id="contenedor" class="card card-body shadow-sm p-4 fade-transition">
    <div class="row col-12 ">
        <div class="col-6">
            <h1 class="display-5">Instituciones Asignadas</h1>
        </div>
        <div class="col-5">
            <!-- Nueva sección de insights -->
            <div class="row">
                <div class="col">
                    <div class="card text-center shadow-sm h-10">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title="Total de Instituciones">
                            <p class="card-text  text-primary mb-0">{{ total_instituciones }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center shadow-sm h-10">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title="Instituciones Asignadas">
                            <p class="card-text text-success mb-0">{{ instituciones_asignadas }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center shadow-sm h-10">
                        <div class="card-body" data-toggle="tooltip" data-placement="top" title="Instituciones Aprobadas">
                            <p class="card-text text-warning mb-0">{{ total_instituciones_aprobadas }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 text-center">
                    {% if perfil.rol == 'gestor' %}
                    <a href="{% url 'asignar_institucion_gestor' %}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Asignar instituciones">
                        {% icon 'plus' %}
                    </a>
                    {% endif %}
            </div>
            </div>
            <!-- Filtros avanzados -->
            <form id="filtros-form" class="row mb-3">
                <div class="col-md-3">
                    <select id="municipios_filtro" name="municipio_filtro" class="form-select" multiple></select>
                </div>
                <div class="col-md-3">
                    <select id="estados_filtro" name="estado_filtro" class="form-select" multiple></select>
                </div>
                <div class="col-md-3">
                    <select id="sectores_filtro" name="sector_filtro" class="form-select" multiple></select>
                </div>
            </form>
        
            <!-- Tabla -->
            <div class="table-responsive">
                <table id="instituciones_gestor" data-rol="{{perfil.rol}}" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Direccion</th>
                            <th class="text-center">Municipio</th>
                            <th class="text-center">Departamento</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Dane</th>
                            <th class="text-center">Zona</th>
                            <th class="text-center">Estado D</th>
                            {% if perfil.rol == 'lider' %}
                            <th class="text-center">Gestor asignado</th>
                            {% endif %}
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </section>
        <div id="loading">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
</main>
{% endblock %}

{% block scripts %}
<script type ="module" src="{% static 'js/matricula/instituciones_gestor.js' %}"></script>
{% endblock %}