{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="post" class="card card-body">
                <h1 class="text-center">Recuperar Contraseña</h1>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="email">Correo electrónico:</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Escriba su correo electrónico" required>
                </div>
                <button class="btn btn-primary">
                    Enviar correo de recuperación
                </button>
            </form>
        </div>
    </div>    
</main>
{% endblock %}
