{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="post" class="card card-body">
                <h1 class="text-center">Establecer Nueva Contraseña</h1>
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="new_password">Nueva Contraseña:</label>
                    <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Escriba la nueva contraseña" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_password">Confirmar Contraseña:</label>
                    <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirme la nueva contraseña" required>
                </div>
                <button class="btn btn-primary">
                    Establecer Contraseña
                </button>
            </form>
        </div>
    </div>    
</main>
{% endblock %}
