{% extends 'base.html' %}
{% load icons %}
{% load admin_filters %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        <div class="row">
            <div class="col-12">
                <h1 class="display-5 text-primary">{{ oferta.cargo }}</h1>
                <h6 class="text-muted">{{ oferta.tipo_contra|traducir_tipo_contrato }}</h6>
                <p class="text-muted">Publicado el: {{ oferta.fecha_crea|date:"d M, Y" }}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <h4 class="mb-3">Detalles de la Oferta</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Descripción:</strong> {{ oferta.descri }}
                    </li>
                    <li class="list-group-item">
                        <strong>Horario:</strong> {{ oferta.jorna_labo|traducir_horario }}
                    </li>
                    <li class="list-group-item">
                        <strong>Educación mínima:</strong> {{ oferta.edu_mini }}
                    </li>
                    <li class="list-group-item">
                        <strong>Experiencia mínima:</strong> {{ oferta.expe_mini }}
                    </li>
                    <li class="list-group-item">
                        <strong>Profesión requerida:</strong> {{ oferta.profe_reque }}
                    </li>
                    <li class="list-group-item">
                        <strong>Ubicación:</strong> {{ oferta.depa.nom_departa }}
                    </li>
                    <li class="list-group-item">
                        <strong>Programa de formación:</strong> {{ oferta.progra.nom }}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="mb-3">Fechas</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Creación:</strong> {{ oferta.fecha_crea|date:"d M, Y" }}
                    </li>
                    <li class="list-group-item">
                        <strong>Apertura:</strong> {{ oferta.fecha_ape|date:"d M, Y" }}
                    </li>
                    <li class="list-group-item">
                        <strong>Cierre:</strong> {{ oferta.fecha_cie|date:"d M, Y" }}
                    </li>
                </ul>
                <div class="mt-4">
                    {% if usuario_postulado %}
                    <button class="btn btn-secondary btn-sm w-100" disabled>Postulado</button>
                    {% else %}
                    <a href="{% url 'postular_oferta' oferta.id %}" class="btn btn-primary btn-sm w-100">
                        Postularme
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
