{% extends 'base.html' %}

{% block content%}
<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form action="" method="POST" enctype="multipart/form-data" class="card card-body mt-5">
                <h1 class="text-center">Crear Actividad</h1>
                {{error}}
                {% csrf_token %}
                <h3>Datos de la actividad:</h3>
                {{ actividad_form.as_p }}
                <h3>Diligencie el cronograma asociado a la actividad:</h3>
                {{ cronograma_form.as_p }}
                <h3>Seleccione los rap asociados:</h3>
                {{ raps_form.as_p }}
                <h3>Cargue el documento:</h3>
                {{ documento_form.as_p }}
                <button type="submit" class="btn btn-primary">Crear actividad</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}