{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form action="" method="POST" class="card card-body mt-5">
                <h1 class="text-center">Crear encuentro</h1>
                {{error}}
                {% csrf_token %}
                <h3>Datos del encuentro</h3>
                {{ encuentro_form.as_p }}
                <h3>Seleccione los aprendices ausentes</h3>
                {{encuapre_form.as_p}}
                <button type="submit" class="btn btn-primary">Crear encuentro</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}