{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Crear ficha</h1>
            </div>
            
            <!-- Mostrar mensajes -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <form action="/fichas_adm/crear/" method="POST" class="">

                {% csrf_token %}

                <!-- Departamento -->
                <div class="row">
                    <div class="col-md-6">
                        <label for="id_departamento" class="form-label">Departamento</label>
                        {{ cascadaform.departamento }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_municipio" class="form-label">Municipio</label>
                        {{ cascadaform.municipio }}
                    </div>
                </div>
                <!-- Centro -->
                <div class="mb-3">
                    <label for="id_centro" class="form-label">Centro</label>
                    {{ cascadaform.centro }}
                </div>

                <!-- Institución -->
                <div class="mb-3">
                    <label for="id_insti" class="form-label">Institución Educativa</label>
                    {{ cascadaform.insti }}
                </div>

                <!-- Otros campos -->
                <div class="row">
                    <div class="col-md-6">
                        {{ ficha_form.progra.label_tag }}
                        {{ ficha_form.progra }}
                    </div>
                    <div class="col-md-6">
                        {{ ficha_form.num_apre_proce.label_tag }}
                        {{ ficha_form.num_apre_proce }}
                    </div>
                </div>

                <!-- Botón de envío -->
                <button type="submit" class="btn btn-primary mt-3">Crear ficha</button>
            </form>
        </div>
    </div>
</main>


<script type="text/javascript">
    $(document).ready(function () {
    // Cuando se cambia el departamento, se actualizan los municipios y se resetean las instituciones
    $('#id_departamento').change(function () {
        var departamento_id = $(this).val();

        // Resetear municipios e instituciones educativas
        $('#id_municipio').html('<option value="">Selecciona un municipio</option>');
        $('#id_insti').html('<option value="">Selecciona una institución</option>');
        $('#id_centro').html('<option value="">Selecciona una institución</option>');

        if (departamento_id) {
            $.ajax({
                url: '/ruta-a-obtener-municipios/' + departamento_id + '/',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, municipio) {
                        $('#id_municipio').append('<option value="' + municipio.id + '">' + municipio.nom_munici + '</option>');
                    });
                },
                error: function () {
                    alert('Error al cargar los municipios. Por favor, intenta nuevamente.');
                }
            });
            $.ajax({
                url: '/ruta-a-obtener-centros/' + departamento_id + '/',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, centro) {
                        $('#id_centro').append('<option value="' + centro.id + '">' + centro.nom + '</option>');
                    });
                },
                error: function () {
                    alert('Error al cargar los centros. Por favor, intenta nuevamente.');
                }
            });
        }
    });

    // Cuando se cambia el municipio, se actualizan las instituciones educativas
    $('#id_municipio').change(function () {
        var municipio_id = $(this).val();

        // Resetear instituciones educativas
        $('#id_insti').html('<option value="">Selecciona una institución</option>');

        if (municipio_id) {
            $.ajax({
                url: '/ruta-a-obtener-instituciones/' + municipio_id + '/',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, institucion) {
                        $('#id_insti').append('<option value="' + institucion.id + '">' + institucion.nom + '</option>');
                        console.log(institucion.id); 
                    });
                },
                error: function () {
                    alert('Error al cargar las instituciones educativas. Por favor, intenta nuevamente.');
                }
            });
        }
    });
});

</script>

{% endblock %}