{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de fichas</h1>
                <div>
                    <a href="/fichas_adm/crear" class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear ficha">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="listado_fichas" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Numero ficha</th>
                        <th>Estado</th>
                        <th>Fecha apertura</th>
                        <th>Fecha cierre</th>
                        <th>Centro</th>
                        <th>Institucion</th>
                        <th>Instructor</th>
                        <th>Matriculados</th>
                        <th>Programa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in fichas %}
                    <tr data-id="{{ programa.id }}">
                        <td class="details-control">    <i class="bi bi-chevron-right"></i>
                        </td>
                        <td><a href="/" class="btn btn-primary btn-sm ">
                            {% icon 'edit' %}
    
                        </a></td>
                        <td>{{ ficha.num }}</td>
                        <td>{{ ficha.esta }}</td>
                        <td>{{ ficha.fecha_aper}}</td>
                        <td>{{ ficha.fecha_cierre}}</td>
                        <td>{{ ficha.centro.nom }}</td>
                        <td>{{ ficha.insti.nom }}</td>
                        <td>{{ ficha.instru.perfil.nom }}</td>
                        <td>{{ ficha.num_apre_pendi_regi }}</td>
                        <td>{{ ficha.progra.nom }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}