{% extends 'base.html' %}
{% load static %}
{% load icons %}
{% load custom_filters %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        <h2 class="text-center mb-4">Panel de la ficha {{ ficha.num}} - Fase {{ fase }}</h2>

        <!-- NavPills -->
        <ul class="nav nav-pills mb-4 nav-fill" id="instructorTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="portfolioFicha-tab" data-bs-toggle="pill" href="#portfolioFicha" role="tab" aria-controls="portfolioFicha" aria-selected="true">Portafolio Ficha</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="aprendices-tab" data-bs-toggle="pill" href="#aprendicespes" role="tab" aria-controls="aprendices" aria-selected="false">Aprendices</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="cronograma-tab" data-bs-toggle="pill" href="#cronograma" role="tab" aria-controls="cronograma" aria-selected="false">Cronograma</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="inasistencias-tab" data-bs-toggle="pill" href="#inasistencias" role="tab" aria-controls="inasistencias" aria-selected="false">Encuentros</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="reportes-tab" data-bs-toggle="pill" href="#reportes" role="tab" aria-controls="reportes" aria-selected="false">Reportes</a>
            </li>
        </ul>

        <!-- Contenido de las Pills -->
        <div class="tab-content" id="instructorTabContent">

            <!-- Portafolio Ficha -->
            <div class="tab-pane fade show active" id="portfolioFicha" role="tabpanel" aria-labelledby="portfolioFicha-tab">
                <div class="row">
                    <!-- Sección para cargar documentos -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Portafolio ficha</h5>
                            </div>
                            <div class="card-body">
                                <div id="folderTree"></div>
                            </div>
                        </div>
                    </div>
            
                    <!-- Sección para descargar documentos
                    <div class="col-md-12 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h5>Documentos del proceso</h5>
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionDocumentos">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Formación
                                        </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionDocumentos">
                                            <div class="accordion-body">
                                                <ul class="list-group">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Documento 1
                                                        <a href="/media/formatos/formato_asignacion_masiva.csv" class="btn btn-outline-secondary btn-sm">
                                                            Descargar
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Administración
                                        </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionDocumentos">
                                            <div class="accordion-body">
                                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Ejecución
                                        </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionDocumentos">
                                            <div class="accordion-body">
                                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <!-- Aprendices -->
            <div class="tab-pane fade" id="aprendicespes" role="tabpanel" aria-labelledby="aprendices-tab">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <table id="tabla_aprendices_ficha" class="table table-hover table-bordered align-middle">
                            <thead class="table-secondary text-center">
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Codigo</th>
                                <th>Representante</th>
                                <th>Repre tel</th>
                                <th>Repre mail</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aprendiz in aprendices %}
                            <tr>
                                <td>{{ aprendiz.perfil.nom}}</td>
                                <td>{{ aprendiz.perfil.apelli}}</td>
                                <td>{{ aprendiz.cod}}</td>
                                <td>{{ aprendiz.repre_legal.nom}}</td>
                                <td>{{ aprendiz.repre_legal.tele}}</td>
                                <td>{{ aprendiz.repre_legal.mail}}</td>                        
                                <td>
                                    <button class="btn btn-outline-warning btn-sm mb-1 ver-portafolio"
                                            data-id="{{aprendiz.id}}" 
                                            data-nombre="{{ aprendiz.perfil.nom }} {{ aprendiz.perfil.apelli }}"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top"
                                            data-bs-title="Ver portafolio">
                                        <i class="bi bi-folder"></i>
                                    </button>
                                    <button class="btn btn-outline-primary btn-sm mb-1 perfil-btn" 
                                            data-id="{{aprendiz.id}}"
                                            title="Ver Perfil"
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="top">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>

            <!-- Cronograma -->
            <div class="tab-pane fade" id="cronograma" role="tabpanel" aria-labelledby="cronograma-tab">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <!-- Botones superiores -->
                        <div class="d-flex justify-content-end mb-3">
                            <a class="btn btn-primary btn-sm me-2"data-toggle="tooltip" data-placement="top" title="Crear actividad" data-bs-toggle="modal" data-bs-target="#crearActividadModal" >
                                <i class="bi bi-plus"></i>
                            </a>
                            <button class="btn btn-secondary btn-sm me-2" data-toggle="tooltip" data-placement="top" title="Ver calendario" data-bs-toggle="modal" data-bs-target="#calendarioActividadModal"><i class="bi bi-calendar-event"></i></button>
                        </div>
                        <!-- Tabla -->
                        <div class="table-responsive">
                            <table id="actividades_ficha" class="table table-bordered align-middle">
                                <thead class="table-secondary text-center">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Fecha apertura</th>
                                        <th>Fecha cierre</th>
                                        <th>Fecha calificación</th>
                                        <th>Cierre calificación</th>
                                        <th>Fase</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for actividad in actividades %}
                                    <tr>
                                        <td>{{ actividad.acti.nom}}</td>
                                        <td>{{ actividad.crono.fecha_ini_acti|date:"d/m/Y" }}</td>
                                        <td>{{ actividad.crono.fecha_fin_acti|date:"d/m/Y" }}</td>
                                        <td>{{ actividad.crono.fecha_ini_cali|date:"d/m/Y" }}</td>
                                        <td>{{ actividad.crono.fecha_fin_cali|date:"d/m/Y" }}</td>
                                        <td>{{ actividad.acti.fase }}</td>
                                        <td>
                                            <button class="btn btn-outline-primary btn-sm btn-detalle-actividad mb-1" data-id="{{ actividad.id }}" data-toggle="tooltip" data-placement="top" title="Detalle"><i class="bi bi-plus-lg"></i></button>
                                            <button class="btn btn-outline-success btn-sm btn-calificar mb-1"
                                            data-toggle="tooltip" data-placement="top" title="Calificar"
                                            data-actividad-id="{{ actividad.id }}"
                                            data-nombre="{{ actividad.acti.nom }}"
                                            data-fase="{{ actividad.acti.fase }}"
                                            data-fecha-inicio="{{ actividad.crono.fecha_ini_acti|date:'d/m/Y' }}"
                                            data-fecha-fin="{{ actividad.crono.fecha_fin_acti|date:'d/m/Y' }}"
                                            data-fecha-inicio-cali="{{ actividad.crono.fecha_ini_cali|date:'d/m/Y' }}"
                                            data-fecha-fin-cali="{{ actividad.crono.fecha_fin_cali|date:'d/m/Y' }}">
                                            <i class="bi bi-clipboard-check"></i>
                                        </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Botón inferior y etiquetas -->
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            {% if raps_count == 0 %}
                            <button class="btn btn-danger btn-sm btn-cerrar-fase">Cerrar fase</button>
                            {% endif %}
                            <div>
                                {% if raps_count > 0 %}
                                <span class="text-danger" data-toggle="tooltip" data-bs-html="true" data-placement="top" title="{{ raps_pendientes }}">Faltan {{ raps_count }} RAPS para la fase {{ fase }}</span><br>
                                {% endif %}
                                <span class="{% if raps_count == 0 %}text-success{% else %}text-danger{% endif %}">
                                    Estado: {% if raps_count == 0 %}Completo{% else %}Incompleto{% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Inasistencias -->
            <div class="tab-pane fade" id="inasistencias" role="tabpanel" aria-labelledby="inasistencias-tab">
                <div class="card shadow-sm">
                    <div class="card-body">

                <div class="d-flex justify-content-end mb-3">
                    <a href="{% url 'crear_encuentro' ficha.id %}" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Crear encuentro">
                        <i class="bi bi-plus"></i>
                    </a>
                </div>

                <div class="table-responsive">
                    <table id="encuentros_ficha" class="table table-bordered align-middle mt-1">
                        <thead class="table-secondary text-center">
                            <tr>
                                <th>Fecha encuentro</th>
                                <th>Tema</th>
                                <th>Lugar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for encuentro in encuentros %}
                                <tr>
                                    <td>{{ encuentro.fecha|date:"d \d\e F \d\e Y" }}</td>
                                    <td>{{ encuentro.tema }}</td>
                                    <td>{{ encuentro.lugar }}</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm btn-detalle-encuentro" 
                                                data-id="{{ encuentro.id }}" 
                                                data-toggle="tooltip" 
                                                data-placement="top" 
                                                title="Detalle">
                                            <i class="bi bi-plus-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
            </div>
            

            <!-- Reportes -->
            <div class="tab-pane fade" id="reportes" role="tabpanel" aria-labelledby="reportes-tab">
                <div class="card shadow-sm">
                    <div class="card-body">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <!-- Reporte 2 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Asistencia por aprendiz</h5>
                                <p class="card-text">Detalle de asistencia de cada aprendiz a los encuentros registrados.</p>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActaAsistenciaAprendiz">Generar</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Reporte 2 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Acta de asistencia</h5>
                                <p class="card-text">Detalle de asistencia de un encuentro en especifico.</p>
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActaAsistencia">Generar</button>
                            </div>
                        </div>
                    </div>
                    <!-- Reporte 1 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Actividades por fase</h5>
                                <p class="card-text">Muestra cuántas actividades han sido registradas por fase del proceso.</p>
                                <a class="btn btn-primary" disabled>Generar</a>
                            </div>
                        </div>
                    </div>
                
                
                    <!-- Reporte 3 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Evaluación por aprendiz</h5>
                                <p class="card-text">Muestra el resumen de notas por actividad y aprendiz.</p>
                                <a class="btn btn-primary" disabled>Generar</a>
                            </div>
                        </div>
                    </div>
                
                    <!-- Reporte 4 -->
                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">Cumplimiento del cronograma</h5>
                                <p class="card-text">Comparación entre el cronograma planificado y las actividades ejecutadas.</p>
                                <a class="btn btn-primary" disabled>Generar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            </div>
            </div>
            

        </div>
    </section>
</main>

<!-- Modal carga de documentos portafolio ficha -->
<div class="modal fade" id="uploadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Subir Documento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <input type="file" id="fileInput" class="form-control">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" id="uploadButton" class="btn btn-primary">Subir</button>
    </div>
    </div>
</div>
</div>

<!-- Modal portafolio aprendiz -->
<div class="modal fade" id="portafolioAprendizModal" tabindex="-1" aria-labelledby="portafolioAprendizModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title m-0" id="portafolioAprendizModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="folderTreeAprendiz"></div>
                <!-- Sección de Historial -->
                <div class="card mt-4">
                    <div class="card-header bg-secondary text-white">
                        <h6 class="m-0">Historial de Acciones</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Acción</th>
                                    <th>Documento</th>
                                    <th>Comentario</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tbody id="historial-body">
                                <tr><td colspan="5" class="text-center">Cargando historial...</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal carga de documentos portafolio aprendiz -->
<div class="modal fade" id="uploadModalAprendiz" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalAprendizLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="uploadModalAprendizLabel">Subir Documento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="file" id="fileInputAprendiz" class="form-control">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" id="uploadButtonAprendiz" class="btn btn-primary">Subir</button>
        </div>
        </div>
    </div>
</div>

<!-- Modal Ver Perfil -->
<div class="modal fade" id="modalVerPerfil" tabindex="-1" role="dialog" aria-labelledby="modalVerPerfilLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditAprendizLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
        <div class="modal-body" id="contenidoPerfil">
            <!-- Aquí se cargará el perfil  -->
            Cargando...
        </div>
        </div>
    </div>
</div>

<!-- Modal para crear actividad -->
<div class="modal fade" id="crearActividadModal" tabindex="-1" aria-labelledby="crearActividadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="crearActividadModalLabel">Crear Actividad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="formCrearActividad" autocomplete="off">
        <div class="modal-body">
            {% csrf_token %}

            <h5 class="mb-3">Datos de la actividad:</h5>
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="{{ actividad_form.nom.id_for_label }}" class="form-label">Nombre</label>
                {{ actividad_form.nom }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ actividad_form.tipo.id_for_label }}" class="form-label">Tipo de actividad</label>
                {{ actividad_form.tipo }}
            </div>
            <div class="col-md-12 mb-3">
                <label for="{{ actividad_form.descri.id_for_label }}" class="form-label">Descripción</label>
                {{ actividad_form.descri }}
            </div>
            <div class="col-md-12 mb-3">
                <label for="{{ actividad_form.guia.id_for_label }}" class="form-label">Guía relacionada</label>
                {{ actividad_form.guia }}
            </div>
            </div>

            <hr class="my-4">

            <h5 class="mb-3">Cronograma asociado:</h5>
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="{{ cronograma_form.fecha_ini_acti.id_for_label }}" class="form-label">Fecha inicio actividad</label>
                {{ cronograma_form.fecha_ini_acti }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ cronograma_form.fecha_fin_acti.id_for_label }}" class="form-label">Fecha fin actividad</label>
                {{ cronograma_form.fecha_fin_acti }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ cronograma_form.fecha_ini_cali.id_for_label }}" class="form-label">Fecha inicio calificación</label>
                {{ cronograma_form.fecha_ini_cali }}
            </div>
            <div class="col-md-6 mb-3">
                <label for="{{ cronograma_form.fecha_fin_cali.id_for_label }}" class="form-label">Fecha fin calificación</label>
                {{ cronograma_form.fecha_fin_cali }}
            </div>
            <div class="col-md-12 mb-3">
                <label for="{{ cronograma_form.nove.id_for_label }}" class="form-label">Novedades</label>
                {{ cronograma_form.nove }}
            </div>
            </div>

            <hr class="my-4">

            <h5 class="mb-3">Seleccione los RAP asociados:</h5>
            <div class="mb-3">
            {{ raps_form.raps }}
            </div>

            <div id="errorCrearActividad" class="text-danger mt-2"></div>
        </div>

        <div class="modal-footer">
            <button type="submit" id="btnCrearActividad" class="btn btn-primary">Crear actividad</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal del calendario -->
<div class="modal fade" id="calendarioActividadModal" tabindex="-1" aria-labelledby="calendarioActividadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Calendario de actividades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="calendario" class="p-3 border rounded"></div>
            </div>
        </div>
    </div>
</div>

<!-- Modal calificar -->
<div class="modal fade" id="modalCalificacion" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="formularioCalificacion" method="post">
        {% csrf_token %}
        <input type="hidden" name="actividad_id" id="inputActividadId">
        <div class="modal-header">
            <h5 class="modal-title">Calificar Actividad</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <p><strong>Nombre:</strong> <span id="modalNombre"></span></p>
            <p><strong>Fase:</strong> <span id="modalFase"></span></p>
            <p><strong>Inicio:</strong> <span id="modalFechaInicio"></span></p>
            <p><strong>Fin:</strong> <span id="modalFechaFin"></span></p>
            <p><strong>Inicio calificación:</strong> <span id="modalFechaInicioCali"></span></p>
            <p><strong>Fin calificación:</strong> <span id="modalFechaFinCali"></span></p>

            <div class="table-responsive">
            <table id="tabla_cali" class="table table-bordered">
                <thead class="table-secondary">
                <tr>
                    <th>Aprendiz</th>
                    <th>Nota</th>
                    <!-- <th>Observaciones</th> -->
                </tr>
                </thead>
                <tbody id="tablaAprendicesCali">
                </tbody>
            </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="guardarCaliBtn" class="btn btn-success">Guardar Calificaciones</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal detalle actividad -->
<div id="detalleActividadModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Detalle de Actividad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
        <div class="row">

            <!-- Información de la actividad -->
            <div class="col-lg-6">
            <div class="card mb-4 shadow">
                <div class="card-header">Información de la Actividad</div>
                <div class="card-body">
                <p><strong>Nombre:</strong> <span id="act-nombre"></span></p>
                <p><strong>Descripción:</strong> <span id="act-descripcion"></span></p>
                <p><strong>Tipo:</strong> <span id="act-tipo"></span></p>
                <p><strong>Fase:</strong> <span id="act-fase"></span></p>
                </div>
            </div>

            <!-- RAPs asociados -->
            <div class="card mb-4 shadow">
                <div class="card-header">RAPs Asociados</div>
                <div class="card-body">
                <ul id="act-raps" class="list-group list-group-flush"></ul>
                </div>
            </div>
            </div>

            <!-- Guía y cronograma -->
            <div class="col-lg-6">
            <div class="card mb-4 shadow">
                <div class="card-header">Guía Asociada</div>
                <div class="card-body">
                <p><strong>Nombre:</strong> <span id="guia-nombre"></span></p>
                <p><strong>Programa:</strong> <span id="guia-programa"></span></p>
                <p><strong>Horas Directas:</strong> <span id="guia-horas-directas"></span></p>
                <p><strong>Horas Autónomas:</strong> <span id="guia-horas-autonomas"></span></p>
                </div>
            </div>

            <div class="card mb-4 shadow">
                <div class="card-header">Cronograma</div>
                <div class="card-body">
                <p><strong>Inicio:</strong> <span id="cron-inicio"></span></p>
                <p><strong>Fin:</strong> <span id="cron-fin"></span></p>
                <p><strong>Inicio Calificación:</strong> <span id="cron-inicio-cali"></span></p>
                <p><strong>Fin Calificación:</strong> <span id="cron-fin-cali"></span></p>
                <p><strong>Novedades:</strong> <span id="cron-novedades"></span></p>
                </div>
            </div>
            </div>

        </div>
        </div>
    </div>
    </div>
</div>

<!-- Modal detalle encuentro -->
<div class="modal fade" id="detalleEncuentroModal" tabindex="-1" role="dialog" aria-labelledby="detalleEncuentroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Detalle del encuentro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="detalle-encuentro-contenido">
                    <p><strong>Lugar:</strong> <span id="modal-lugar"></span></p>
                    <p><strong>Fecha:</strong> <span id="modal-fecha"></span></p>
                    <p><strong>Participantes:</strong> <span id="modal-participantes"></span></p>
                    
                    <hr>
                    <h6><strong>Aprendices que asistieron:</strong></h6>
                    <ul id="modal-aprendices-asistieron">
                    </ul>
                    
                    <h6><strong>Aprendices ausentes:</strong></h6>
                    <ul id="modal-aprendices-faltaron">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Acta de Asistencia -->
<div class="modal fade" id="modalActaAsistencia" tabindex="-1" aria-labelledby="modalActaAsistenciaLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <form method="get" action="{% url 'generar_acta_asistencia' %}">
        <div class="modal-header">
            <h5 class="modal-title" id="modalActaAsistenciaLabel">Seleccionar Encuentro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <label for="encuentro_id" class="form-label">Encuentro:</label>
            <select class="form-select" name="encuentro_id" id="encuentro_id" required>
            {% for encuentro in encuentros %}
                <option value="{{ encuentro.id }}">
                {{ encuentro.fecha|date:"d/m/Y" }} - {{ encuentro.tema }}
                </option>
            {% endfor %}
            </select>
            <input type="hidden" name="ficha_id" value="{{ ficha.id }}">
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Generar PDF</button>
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal aprendiz Asistencia -->
<div class="modal fade" id="modalActaAsistenciaAprendiz" tabindex="-1" aria-labelledby="modalActaAsistenciaAprendizLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <form method="get" action="{% url 'generar_acta_asistencia_aprendiz' %}">
        <div class="modal-header">
            <h5 class="modal-title" id="modalActaAsistenciaAprendizLabel">Seleccionar Aprendiz</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <label for="aprendiz_id" class="form-label">Aprendiz:</label>
            <select class="form-select" name="aprendiz_id" id="aprendiz_id" required>
            {% for aprendiz in aprendices %}
                <option value="{{ aprendiz.id }}">
                {{ aprendiz.perfil.nom }} {{ aprendiz.perfil.apelli }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Generar PDF</button>
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type ="module" src="{% static 'js/formacion/panel_ficha.js' %}"></script>
{% endblock %}