{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5">tareas pendientes</h1>
            <table id="tasks" class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>User</th>
                        <th>Description</th>
                        {% if request.path == '/tasks_completed/' %} <!-- Condición para tareas completadas -->
                        <th>Date Completed</th>
                        {% endif %}
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>
                            {% if task.important %}
                            <h5 class="fw-bold text-success">{{ task.title }}</h5>
                            {% else %}
                            <h5 class="fw-bold">{{ task.title }}</h5>
                            {% endif %}
                        </td>
                        <td>{{ task.user.username }}</td>
                        <td>{{ task.description }}</td>
                        {% if request.path == '/tasks_completed/' and task.datecompleted %}
                        <!-- Solo mostrar si está completada -->
                        <td>{{ task.datecompleted|date:"M J Y:i" }}</td>
                        {% endif %} <td>
                            <a href="{% url 'task_detail' task.id %}" class="btn btn-primary btn-sm">Ver detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}