{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form action="/administradores/crear/" method="POST" class="card card-body mt-5">
                <h1 class="text-center">Crear administrador</h1>
                {{error}}
                {% csrf_token %}
                <h3>Datos del admin</h3>
                {{ admin_form.as_p }}
                <h3>Datos del Perfil</h3>
                {{ perfil_form.as_p }}
                <h3>Datos del usuario</h3>
                {{ user_form.as_p }}
                <button type="submit" class="btn btn-primary">Crear administrador</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}