{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5" id="contenedor">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de Administradores</h1>
                <div>
                    <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear administrador" data-bs-toggle="modal" data-bs-target="#crearAdministradorModal">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="administradores" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th>Area</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Tipo de documento</th>
                        <th>Numero de documento</th>
                        <th>Teléfono</th>
                        <th>dirección</th>
                        <th>Fecha de nacimiento</th>
                        <th>Nombre de usuario</th>
                        <th>Correo Electrónico</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% for admin in administradores %}
                    <tr>
                        <td>{{ admin.area}}</td>
                        <td>{{ admin.perfil.nom}}</td>
                        <td>{{ admin.perfil.apelli}}</td>
                        <td>{{ admin.perfil.tipo_dni}}</td>
                        <td>{{ admin.perfil.dni}}</td>
                        <td>{{ admin.perfil.tele}}</td>
                        <td>{{ admin.perfil.dire}}</td>
                        <td>{{ admin.perfil.fecha_naci}}</td>
                        <td>{{ admin.perfil.user.username}}</td>
                        <td>{{ admin.perfil.user.email}}</td>
                        <td>
                            <a class="btn btn-outline-warning btn-sm mb-1 edit-btn" data-id="{{ admin.id }}" data-toggle="tooltip" data-placement="top" title="Editar">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-outline-danger btn-sm delete-btn" data-id="{{ admin.id }}" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                {% icon 'delete' %}
                            </a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>
<!-- Modal para crear Administrador -->
<div class="modal fade" id="crearAdministradorModal" tabindex="-1" aria-labelledby="modalAdministradorLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAdministradorLabel">Crear Administrador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formCrearAdministrador">
                    {% csrf_token %}
                    <h3>Datos del Perfil</h3>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.nom.id_for_label }}">{{ perfil_form.nom.label }}</label>
                            {{ perfil_form.nom }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.apelli.id_for_label }}">{{ perfil_form.apelli.label }}</label>
                            {{ perfil_form.apelli }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.tipo_dni.id_for_label }}">{{ perfil_form.tipo_dni.label }}</label>
                            {{ perfil_form.tipo_dni }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.dni.id_for_label }}">{{ perfil_form.dni.label }}</label>
                            {{ perfil_form.dni }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.tele.id_for_label }}">{{ perfil_form.tele.label }}</label>
                            {{ perfil_form.tele }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.dire.id_for_label }}">{{ perfil_form.dire.label }}</label>
                            {{ perfil_form.dire }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.mail.id_for_label }}">{{ perfil_form.mail.label }}</label>
                            {{ perfil_form.mail }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.gene.id_for_label }}">{{ perfil_form.gene.label }}</label>
                            {{ perfil_form.gene }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.fecha_naci.id_for_label }}">{{ perfil_form.fecha_naci.label }}</label>
                            {{ perfil_form.fecha_naci }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ admin_form.area.id_for_label }}">{{ admin_form.area.label }}</label>
                            {{ admin_form.area }}
                        </div>
                    </div>
                    <div id="errorCrearAdministrador" class="text-danger mt-2"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnCrearAdministrador" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para Editar Administrador -->
<div class="modal fade" id="editarAdministradorModal" tabindex="-1" aria-labelledby="modalAdministradorLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAdministradorLabel">Editar Administrador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarAdministrador">
                    {% csrf_token %}
                    <h3>Datos del Perfil</h3>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.nom.id_for_label }}">{{ perfil_form.nom.label }}</label>
                            {{ perfil_form.nom }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.apelli.id_for_label }}">{{ perfil_form.apelli.label }}</label>
                            {{ perfil_form.apelli }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.tipo_dni.id_for_label }}">{{ perfil_form.tipo_dni.label }}</label>
                            {{ perfil_form.tipo_dni }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.dni.id_for_label }}">{{ perfil_form.dni.label }}</label>
                            {{ perfil_form.dni }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.tele.id_for_label }}">{{ perfil_form.tele.label }}</label>
                            {{ perfil_form.tele }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.dire.id_for_label }}">{{ perfil_form.dire.label }}</label>
                            {{ perfil_form.dire }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.mail.id_for_label }}">{{ perfil_form.mail.label }}</label>
                            {{ perfil_form.mail }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.gene.id_for_label }}">{{ perfil_form.gene.label }}</label>
                            {{ perfil_form.gene }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="{{ perfil_form.fecha_naci.id_for_label }}">{{ perfil_form.fecha_naci.label }}</label>
                            {{ perfil_form.fecha_naci }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="{{ admin_form.area.id_for_label }}">{{ admin_form.area.label }}</label>
                            {{ admin_form.area }}
                        </div>
                    </div>

                    <div id="errorEditarAdministrador" class="text-danger mt-2"></div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/usuarios/administrador.js' %}"></script>
{% endblock %}