{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form method="POST" class="card card-body mt-5">
                <h1 class="text-center">Editar aprendiz</h1>
                {{error}}
                {% csrf_token %}
                <h3>Datos del Usuario</h3>
                {{ user_form.as_p }}
                <h3>Datos del Perfil</h3>
                {{ perfil_form.as_p }}
                <h3>Datos del aprendiz</h3>
                {{ aprendiz_form.as_p }}
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
            {% if error %}
        <p class="text-danger">{{ error }}</p>
    {% endif %}
        </div>
    </div>
</main>

{% endblock %}