{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form action="/aprendices/crear/" method="POST" class="card card-body mt-5">
                <h1 class="text-center">Crear Aprendiz</h1>
                {{error}}
                {% csrf_token %}
                <h3>Datos del Perfil</h3>
                {{ perfil_form.as_p }}
                <h3>Datos del representante legal</h3>
                {{ representante_form.as_p }}
                <button type="submit" class="btn btn-primary">Crear Aprendiz</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}