{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de centros de formación</h1>
                <div>
                    <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear centro" data-bs-toggle="modal" data-bs-target="#crearCentroModal">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="centrosformacion_table" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Departamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for centroformacion in centrosformacion %}
                    <tr data-id="{{ centroformacion.id }}">
                        <td>
                        <a href="{% url 'detalle_centrosformacion' centroformacion.id  %}" class="btn btn-primary btn-sm mb-1" data-toggle="tooltip" data-placement="top" title="Editar">
                            {% icon 'edit' %}
                        </a>
                        <a href="{% url 'eliminar_centrosformacion' centroformacion.id  %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            {% icon 'delete' %}
                        </a>
                        </td>
                        <td>{{ centroformacion.nom  }}</td>
                        <td>{{ centroformacion.cod }}</td>
                        <td>{{ centroformacion.depa }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>

<!-- Modal para agregar documento laboral-->
<div class="modal fade" id="crearCentroModal" tabindex="-1" aria-labelledby="crearCentroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearCentroModalLabel">Crear Centro de Formacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/centroformacion/crear/" method="POST">
                    {{error}}
                    {% csrf_token %}
                    {{ centroformacionForm.as_p }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Crear centro de formación</button>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}