{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div id="contenedor" class="col-12 fade-transition">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de centros de formación</h1>
                <div>
                    <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear centro" data-bs-toggle="modal" data-bs-target="#crearCentroModal">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="centrosformacion_table" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Codigo</th>
                        <th>Departamento</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>

<!-- Modal para crear centro de formacion-->
<div class="modal fade" id="crearCentroModal" tabindex="-1" aria-labelledby="crearCentroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearCentroModalLabel">Crear Centro de Formación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formCrearCentro">
                <div class="modal-body">
                        {% csrf_token %}
                        {{ centroformacionForm.as_p }}
                    <div id="errorCrearCentro" class="text-danger mt-2"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnCrearCentro" class="btn btn-primary">Crear centro de Formación</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar centro de formacion-->
<div class="modal fade" id="editarCentroModal" tabindex="-1" aria-labelledby="editarCentroModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEditarCentro" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarCentroModalLabel">Editar Centro de Formación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        {% csrf_token %}
                        <div style="margin-bottom: 1rem;">
                            <label for="{{ centroformacionForm.nom.id_for_label }}">{{ centroformacionForm.nom.label }}</label>
                            {{ centroformacionForm.nom }}
                        </div>
                        <div style="margin-bottom: 1rem;">
                            <label for="{{ centroformacionForm.depa.id_for_label }}">{{ centroformacionForm.depa.label }}</label>
                            {{ centroformacionForm.depa }}
                        </div>
                        <div style="margin-bottom: 1rem;">
                            <label for="{{ centroformacionForm.cod.id_for_label }}">{{ centroformacionForm.cod.label }}</label>
                            {{ centroformacionForm.cod }}
                        </div>
                </div>
                <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading">
    <div class="spinner-border spinner-custom" role="status">
        <span class="sr-only"></span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'js/usuarios/centro_formacion.js' %}"></script>
{% endblock %}