{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        
        <h1 class="display-5 text-center">¿Estás seguro de que quieres eliminar este aprendiz?</h1>
        <strong>Administrador: {{ aprendiz.perfil.nombre }} {{ aprendiz.perfil.apelli }}  </strong> 

        <form action="{% url 'aprendiz.perfil.nombre' admin.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'administradores' %}" class="btn btn-secondary">Cancelar</a>
        </form>

    </section>
</main>




{% endblock %}