{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        <h1 class="display-5 text-center">¿ Estás seguro de que quieres eliminar este registro ?</h1>
        <h2> Represante Legal: {{ represante_legal.nom }}  </h2> 

        <form action="{% url 'eliminarRepresanteLegal' represante_legal.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'represantesLegales' %}" class="btn btn-secondary">Cancelar</a>
        </form>

    </section>
</main>




{% endblock %}