{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form method="POST" class="card card-body mt-5">
                <h1 class="text-center">Editar gestor</h1>
                  {% if perfil_form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong>
                    <ul class="mb-0">
                        {% for field, errors in perfil_form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% csrf_token %}
                <h3>Datos del Perfil</h3>
                {{ perfil_form.as_p }}
                <h3>Datos del Gestor</h3>
                {{ gestor_depa_form.as_p }}
                <button type="submit" class="btn btn-primary">Editar gestor</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}