{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Crear gestor</h1>
            </div>
            <form action="/gestores/crear/" method="POST" class="">
                {% if user_form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error:</strong>
                    <ul class="mb-0">
                        {% for field, errors in user_form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% csrf_token %}
                <h3>Datos del Perfil</h3>
                {{ perfil_form.as_p }}
                <h3>Departamentos asociados</h3>
                {{ gestor_depa_form.as_p }}
                <button type="submit" class="btn btn-primary">Crear gestor</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}