{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
        <h1 class="display-4 text-center mb-4">OIT PMV</h1>
        <div class="text-center mb-4">
            <img src="{% static 'images/logoshome.png' %}" alt="Imagen home" class="img-fluid" style="max-width: 250px;">
        </div>
        <h2 class="text-center mb-4">Plataforma de seguimiento a la formacion y gestión de Instructores</h2>
        <p class="lead text-center text-muted mb-4">
            Este es un sistema en desarrollo que forma parte del Proyecto SENATIC, en colaboración con la Organización Internacional del Trabajo (OIT). Actualmente, nos encontramos en una fase temprana de implementación y prueba, por lo que es posible que algunas funcionalidades aún estén en proceso de optimización o no estén completamente disponibles.
        </p>
        <p class="text-center text-muted mb-4">
            Apreciamos su participación y comprensión mientras trabajamos para mejorar y adaptar esta plataforma a las necesidades del sector educativo y laboral. Su retroalimentación es invaluable para asegurar que el sistema cumpla con los objetivos de formación y desarrollo profesional que buscamos alcanzar.
        </p>
        <p class="text-center text-muted">
            Por favor, tenga en cuenta que cualquier error o inconveniente que experimente puede ser parte del proceso de mejora. ¡Gracias por ser parte de este importante proyecto!
        </p>
    </section>
</main>

{% endblock %}