{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
<section class="card card-body">
<h1 class="display-1 text-center">OIT PMV</h1>
<img src="{% static 'images/imagenhome.png' %}" alt="Imagen home">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ab nesciunt in, deleniti sequi sit a sunt! Quibusdam veniam earum non! Animi, aliquam nihil inventore maiores minus vero nam quidem assumenda! Velit voluptatem fugit voluptatum officia, officiis laborum consectetur. Atque reprehenderit autem, distinctio nostrum doloribus debitis sint aspernatur odit commodi nesciunt voluptatem voluptatibus reiciendis illum, obcaecati quasi illo ea corporis sapiente dolores cum consequuntur, impedit blanditiis cupiditate. Harum asperiores, deleniti facere vero rerum, minus ea placeat quaerat tempora dolorum sapiente cum autem doloribus dolore neque laboriosam at corrupti? Illo nostrum eaque suscipit dolore at nulla, reiciendis excepturi eligendi nobis dolores.</p>
</section>
</main>
{% endblock %}