{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de instituciones</h1>
                <div>
                    <a href="/instituciones/crear/" class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear institucion">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="instituciones" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Municipio</th>
                        <th>Departamento</th>
                        <th>Sector</th>
                        <th>Esta</th>
                        <th>Dane</th>
                        <th>Genero</th>
                        <th>Zona</th>
                    </tr>
                </thead>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>
<script>
$(document).ready(function () {
    $('#instituciones').DataTable({
        processing: true,
        serverSide: true,
        ajax: {
            url: 'http://127.0.0.1:8000/api/data/',
            type: 'GET',
        },
        columns: [
            { data: 'nom', orderable: true, title: 'Nombre' },
            { data: 'dire', orderable: true, title: 'Dirección' },
            { data: 'municipio_nombre', orderable: true, title: 'Municipio' },
            { data: 'departamento_nombre', orderable: true, title: 'Departamento' },
            { data: 'secto', orderable: true, title: 'Sector' },
            { data: 'esta', orderable: true, title: 'Esta' },
            { data: 'dane', orderable: true, title: 'DANE' },
            { data: 'gene', orderable: true, title: 'Género' },
            { data: 'zona', orderable: true, title: 'Zona' },
        ],
        language: {
            url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json',
        },
    });
});
    </script>
{% endblock %}