{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div id="contenedor" class="col-12 fade-transition">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de instituciones</h1>
                <div>
                    <a class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear institucion" data-bs-toggle="modal" data-bs-target="#crearInstitucionModal">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <!-- Encabezado con "Ordenar por" alineado a la derecha -->
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="mb-0">Filtrar y organizar:</h5>
                <div class="col-md-3">
                    <!-- <select id="ordenar_por" name="ordenar_por" class="form-select">
                        <option value="" selected disabled>Ordenar por...</option>
                        <option value="fecha_asc">Fecha creación (Ascendente)</option>
                        <option value="fecha_desc">Fecha creación (Descendente)</option>
                    </select> -->
                </div>
            </div>

            <!-- Filtros -->
            <form id="filtros-form" class="row mb-3">
                <!-- Departamento -->
                <div class="col-md-3">
                    <select id="departamento" name="departamento" class="form-select">
                    </select>
                </div>

                <!-- Municipio -->
                <div class="col-md-3">
                    <select id="municipio" name="municipio" class="form-select">
                    </select>
                </div>

                <!-- Zona -->
                <div class="col-md-3">
                    <select id="zona" name="zona" class="form-select">
                    </select>
                </div>

                <!-- Estado -->
                <div class="col-md-3">
                    <select id="estado" name="estado" class="form-select">
                    </select>
                </div>
            </form>
            <div class="table-responsive">
                <table id="instituciones" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                        <tr>
                        <th>Acciones</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Municipio</th>
                        <th>Departamento</th>
                        <th>Sector</th>
                        <th>Esta</th>
                        <th>Dane</th>
                        <th>Genero</th>
                        <th>Zona</th>
                    </tr>
                </thead>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>
<!-- Modal para crear institución -->
<div class="modal fade" id="crearInstitucionModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Crear Institución</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formCrearInstitucion" action="/instituciones/crear/" method="POST">
                    {% csrf_token %}
                    <!-- Primera fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="nom" class="form-label">Nombre de la institución</label>
                            <input type="text" id="nom" name="nom" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="esta" class="form-label">Estado</label>
                            <select name="esta" id="esta" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="articulado">Articulado</option>
                                <option value="articulado nuevo">Articulado nuevo</option>
                                <option value="antiguo activo">Antiguo activo</option>
                                <option value="cierre temporal">Cierre temporal</option>
                                <option value="nuevo activo">Nuevo activo</option>
                                <option value="cierre definitivo">Cierre definitivo</option>
                            </select>
                        </div>
                    </div>

                    <!-- Segunda fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="depa" class="form-label">Departamento</label>
                            <select id="depa" name="depa" class="form-select" required>
                                <option value="">Seleccione un departamento</option>
                                {% for dep in departamentos %}
                                    <option value="{{ dep.id }}">{{ dep.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="muni" class="form-label">Municipio</label>
                            <select id="muni" name="muni" class="form-select" disabled required>
                                <option value="">Seleccione un municipio</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tercera fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="secto" class="form-label">Sector</label>
                            <select name="secto" id="secto" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="oficial">Oficial</option>
                                <option value="noficial">No oficial</option>
                            </select>                        
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="dane" class="form-label">Dane</label>
                            <input type="text" id="dane" name="dane" class="form-control" required>
                        </div>
                    </div>

                    <!-- Cuarta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="coordi" class="form-label">Coordinador</label>
                            <input type="text" id="coordi" name="coordi" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="coordi_mail" class="form-label">Email del coordinador</label>
                            <input type="email" id="coordi_mail" name="coordi_mail" class="form-control" required>
                        </div>
                    </div>

                    <!-- Quinta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="coordi_tele" class="form-label">Teléfono del coordinador</label>
                            <input type="text" id="coordi_tele" name="coordi_tele" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="dire" class="form-label">Dirección</label>
                            <input type="text" id="dire" name="dire" class="form-control" required>
                        </div>
                    </div>

                    <!-- Sexta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="insti_mail" class="form-label">Email de la institución</label>
                            <input type="email" id="insti_mail" name="insti_mail" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="recto" class="form-label">Rector</label>
                            <input type="text" id="recto" name="recto" class="form-control" required>
                        </div>
                    </div>

                    <!-- Séptima fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="recto_tel" class="form-label">Teléfono del rector</label>
                            <input type="text" id="recto_tel" name="recto_tel" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gene" class="form-label">Clasificación de la institución</label>
                            <select name="gene" id="gene" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="mi">Mixto</option>
                                <option value="ma">Masculino</option>
                                <option value="fe">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <!-- Octava fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="grados" class="form-label">Grados</label>
                            <input type="text" id="grados" name="grados" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="jorna" class="form-label">Jornada</label>
                            <input type="text" id="jorna" name="jorna" class="form-control" required>
                        </div>
                    </div>

                    <!-- Novena fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="num_sedes" class="form-label">Número de sedes</label>
                            <input type="number" id="num_sedes" name="num_sedes" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="zona" class="form-label">Zona</label>
                            <select name="zona" id="zona" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="r">Rural</option>
                                <option value="u">Urbana</option>
                            </select>
                        </div>
                    </div>

                    <!-- Décima fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cale" class="form-label">Calendario</label>
                            <select name="cale" id="cale" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="a">A</option>
                                <option value="b">B</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>
                    <div id="formCrearInstitucionErrores" class="alert alert-danger d-none"></div>
                    <!-- Botones -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnGuardarInstitucion" class="btn btn-primary">Guardar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal para editar institución -->
<div class="modal fade" id="editarInstitucionModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel">Editar Institución</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form id="formEditarInstitucion" action="/instituciones/editar/{{ institucion.id }}/" method="POST">
                    {% csrf_token %}
                    <!-- Primera fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_nom" class="form-label">Nombre de la institución</label>
                            <input type="text" id="edit_nom" name="nom" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_esta" class="form-label">Estado</label>
                            <select name="esta" id="edit_esta" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="articulado">Articulado</option>
                                <option value="articulado nuevo">Articulado nuevo</option>
                                <option value="antiguo activo">Antiguo activo</option>
                                <option value="cierre temporal">Cierre temporal</option>
                                <option value="nuevo activo">Nuevo activo</option>
                                <option value="cierre definitivo">Cierre definitivo</option>
                            </select>
                        </div>
                    </div>

                    <!-- Segunda fila -->
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="edit_muni" class="form-label">Municipio</label>
                            <select id="edit_muni" name="muni" class="form-select" required>
                                <option value="">Seleccione un municipio</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tercera fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_secto" class="form-label">Sector</label>
                            <select name="secto" id="edit_secto" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="oficial">Oficial</option>
                                <option value="noficial">No oficial</option>
                            </select>                        
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_dane" class="form-label">Dane</label>
                            <input type="text" id="edit_dane" name="dane" class="form-control" required>
                        </div>
                    </div>

                    <!-- Cuarta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_coordi" class="form-label">Coordinador</label>
                            <input type="text" id="edit_coordi" name="coordi" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_coordi_mail" class="form-label">Email del coordinador</label>
                            <input type="email" id="edit_coordi_mail" name="coordi_mail" class="form-control" required>
                        </div>
                    </div>

                    <!-- Quinta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_coordi_tele" class="form-label">Teléfono del coordinador</label>
                            <input type="text" id="edit_coordi_tele" name="coordi_tele" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_dire" class="form-label">Dirección</label>
                            <input type="text" id="edit_dire" name="dire" class="form-control" required>
                        </div>
                    </div>

                    <!-- Sexta fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_insti_mail" class="form-label">Email de la institución</label>
                            <input type="email" id="edit_insti_mail" name="insti_mail" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_recto" class="form-label">Rector</label>
                            <input type="text" id="edit_recto" name="recto" class="form-control" required>
                        </div>
                    </div>

                    <!-- Séptima fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_recto_tel" class="form-label">Teléfono del rector</label>
                            <input type="text" id="edit_recto_tel" name="recto_tel" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_gene" class="form-label">Clasificación de la institución</label>
                            <select name="gene" id="edit_gene" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="mi">Mixto</option>
                                <option value="ma">Masculino</option>
                                <option value="fe">Femenino</option>
                            </select>
                        </div>
                    </div>

                    <!-- Octava fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_grados" class="form-label">Grados</label>
                            <input type="text" id="edit_grados" name="grados" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_jorna" class="form-label">Jornada</label>
                            <input type="text" id="edit_jorna" name="jorna" class="form-control" required>
                        </div>
                    </div>

                    <!-- Novena fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_num_sedes" class="form-label">Número de sedes</label>
                            <input type="number" id="edit_num_sedes" name="num_sedes" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="edit_zona" class="form-label">Zona</label>
                            <select name="zona" id="edit_zona" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="r">Rural</option>
                                <option value="u">Urbana</option>
                            </select>
                        </div>
                    </div>

                    <!-- Décima fila -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edit_cale" class="form-label">Calendario</label>
                            <select name="cale" id="edit_cale" class="form-select" required>
                                <option value="">Seleccione...</option>
                                <option value="a">A</option>
                                <option value="b">B</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                        </div>
                    </div>

                    <div id="formEditarInstitucionErrores" class="alert alert-danger d-none"></div>
                    
                    <!-- Botones -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" id="btnEditarInstitucion" class="btn btn-primary">Actualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ver Institución -->
<div class="modal fade" id="modalVerInstitucion" tabindex="-1" role="dialog" aria-labelledby="modalVerInstitucionLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content" id="contenidoInstitucion">
            Cargando...
        </div>
    </div>
</div>

<div id="loading">
    <div class="spinner-border spinner-custom" role="status">
        <span class="sr-only"></span>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type ="module" src="{% static 'js/usuarios/institucion.js' %}"></script>
{% endblock %}