{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container py-5">
    <section class="card card-body shadow-sm p-4">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center pb-4">
                <h1 class="display-5">Gestión de Equipo Nacional</h1>
                <div>
                    <a href="/lideres/crear/" class="btn btn-primary me-2" data-toggle="tooltip" data-placement="top" title="Crear aprendiz">
                        {% icon 'plus' %}
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table id="lideres" class="table table-hover table-bordered align-middle">
                    <thead class="table-secondary text-center">
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Mail</th>
                        <th>Fecha nacimiento</th>
                        <th>Area</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lider in lideres %}
                    <tr data-id="{{ lider.id }}">
                        <td>
                        <a href="{% url 'detalle_lider' lider.id %}" class="btn btn-primary btn-sm mb-1" data-toggle="tooltip" data-placement="top" title="Editar">
                            {% icon 'edit' %}
                        </a>
                        <a href="{% url 'eliminar_lider' lider.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            {% icon 'delete' %}
                        </a>
                        </td>
                        <td>{{ lider.perfil.nom}}</td>
                        <td>{{ lider.perfil.apelli}}</td>
                        <td>{{ lider.perfil.tele}}</td>
                        <td>{{ lider.perfil.dire}}</td>
                        <td>{{ lider.perfil.user.email}}</td>
                        <td>{{ lider.perfil.fecha_naci}}</td>
                        <td>{{ lider.area}}</td>
                        <td>{{ lider.esta}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    </section>
</main>
{% endblock %}