{% extends 'base.html' %}
{% load static %}
{% load icons %}

{% block content %}
<main class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center display-4 pb-4">Gestión de Lideres</h1>

            <!-- Botón de creación con margen -->
            <div class="d-flex justify-content-end mb-3">
                <a href="/lideres/crear/" class="btn btn-success btn-lg">
                    <i class="bi bi-person-plus"></i> Crear Lider
                </a>
            </div>
            <div class="table-responsive">
                <table id="instructores" class="table table-hover table-bordered align-middle">
                    <thead class="table-primary text-center">
                    <tr>
                        <th></th>
                        <th>Acciones</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Mail</th>
                        <th>Fecha nacimiento</th>
                        <th>Area</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lider in lideres %}
                    <tr data-id="{{ lider.id }}">
                        <td class="details-control">    <i class="bi bi-chevron-right"></i>
                        </td>
                        <td>
                        <a href="{% url 'detalle_lider' lider.id %}" class="btn btn-primary btn-sm ">
                            {% icon 'edit' %}
                        </a>
                        <a href="{% url 'eliminar_lider' lider.id %}" class="btn btn-danger btn-sm ">
                            {% icon 'delete' %}
                        </a>
                        </td>
                        <td>{{ lider.perfil.nom}}</td>
                        <td>{{ lider.perfil.apelli}}</td>
                        <td>{{ lider.perfil.tele}}</td>
                        <td>{{ lider.perfil.dire}}</td>
                        <td>{{ lider.perfil.user.email}}</td>
                        <td>{{ lider.perfil.fecha_naci}}</td>
                        <td>{{ lider.area}}</td>
                        <td>{{ lider.esta}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</main>
{% endblock %}