{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-12 offset-md-12">
            <form action="/municipios/crear/" method="POST" class="card card-body mt-5">
                <h1 class="text-center">Crear municipios</h1>
                {{error}}
                {% csrf_token %}
                {{ municipiosForm.as_p }}
                <button type="submit" class="btn btn-primary">Crear municipio</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}